body{
    height: 100vh;
    background-color: #edcfa9;
    font-family: "Roboto";
}

h1 {
    text-align: center;
    margin: 20px;
}

.damier {
    width: 500px;
    height: 500px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    position: absolute; /* postulat de départ */
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

.case {
    width: 33.333%;
    height: 33.333%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #000;
    cursor: pointer;
}

.case:hover{
    background-color: black;
}

#victoire, #egalite{
    display: none;
    flex-direction: column;
    position: absolute; /* postulat de départ */
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

#victoire h3, #egalite h3 {
    text-align: center;
    display: block;
}

button {
    margin: 25px 15px;
    padding: 15px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
    transition: all 1s ease-out;
    letter-spacing: 2px;
}

button:hover {
    margin: 20px 0px;
    background-color: black;
    color: #ffffff;
}


